body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Orbitron", sans-serif;
  background-color: #161616;
}
.header,
.portafolio {
  width: 100%;
  height: 100px;
  background-image: none;
}

/*---Responsive menu---*/
@media (min-width: 960px) {
  .header,
  .portafolio {
    height: 500px;
    background: linear-gradient(
      107.17deg,
      #958c40 29.35%,
      rgba(156, 0, 210, 0.8) 78.73%
    );
  }

  .container__welcome {
    position: absolute;
    top: 180px;
    left: 10px;
    margin: 0;
    padding: 0;
  }

  .container__welcome .container__welcome-title {
    color: #fafafa;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
  }
}

.my-projects {
  padding: 10px;
}
.container__welcome {
  padding: 25px;
}
.container__welcome-title {
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 48px;
  text-align: center;
}

.portfolio-content {
  display: grid;
  gap: 40px;
  padding: 40px;
}

.portfolio-img {
  object-fit: cover;
  height: 255px;
  width: 100%;
}
.portfolio-content-card {
  padding: 20px;
}

.portfolio-card-title {
  padding: 10px;
  color: #fafafa;
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.portfolio-card-text {
  padding: 10px;
  color: #fafafa;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
.portfolio-card-link {
  font-size: 24px;
  color: #fc6f50;
  text-decoration: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  display: block;
  text-align: center;
}

/*--- Responsive ---*/
@media (min-width: 720px) {
  .portfolio-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 960px) {
  .portfolio-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
