body {
  box-sizing: border-box;
  margin: 0;
  background-color: #2c2c2c;
}
.header,
.contacto {
  width: 100%;
  height: 100px;
  background-image: none;
}

/*---Section Formulario---*/

.container__formulario {
  height: 800px;
  padding: 15px;
  text-align: center;
}

.container__formulario-title {
  margin: 0;
  padding: 50px;
  text-align: center;
  font-size: 48px;
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
}

.container__form {
  width: 100%;
}
.form-title {
  text-align: left;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
}
.label-input {
  width: 90%;
  padding: 15px;
}
.textarea {
  height: 115px;
}
.container__button-enviar {
  padding-top: 30px;
}
.btn-enviar {
  width: 100%;
  background-color: #2c2c2c;
  color: #fafafa;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

/*---Responsive Formulario---*/

@media (min-width: 960px) {
  body {
    width: 100%;
    height: 100px;
    background: linear-gradient(
      107.17deg,
      #408195 29.35%,
      rgba(0, 210, 135, 0.8) 78.73%
    );
  }
  .form-container {
    margin: 0;
    padding: 90px;
    height: 700px;
  }
  .label-input {
    width: 90%;
  }
  .form-title {
    margin-left: 8px;
  }
  .btn-enviar {
    width: 98%;
  }
  .container__formulario {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container__formulario-title {
    margin: 0 0 150px 90px;
    font-size: 48px;
    padding: 0;
  }
}
